<!DOCTYPE html>
<html>
  <head>
    <title>Info Alley Events Calendar</title>
    <link id="favicon" rel="icon" href="https://hyperweb.space/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body id="body-wrapper">
    <h1 id="calendar-title" class="bounceIn animated">Downtown Calendar</h1>
    <div id="events-wrapper">
      Events loading...
    </div>
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="/calendar-init.js"></script>
    
  </body>
</html>