<!DOCTYPE html>
<html>
  <head>
    <title>Info Alley</title>
    <link id="favicon" rel="icon" href="https://hyperweb.space/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="panel-one">
      <h1>Panel 1</h1>
    </div>
    <div id="panel-two">
      <h1>Panel 2</h1>
    </div>
    <div id="panel-three">
      <h1>Panel 3</h1>
    </div>
    <div id="panel-four">
      <h1>Panel 4</h1>
    </div>
    <div id="ticker-bottom">
      <div class="ticker">
      </div>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script src="/firebase-init.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/twitter-init.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
